@media screen and (min-width: 300px)
body
	// background: red
	header
		#navbarNav
			a 
				margin: 5px 0px 0px 15px
				padding: 10px 25px
			a:hover
				background-color: #09709F
		.navbar-toggler
			background: #fff
		.dropbtn
			color: #fff 
			// ARTICULO ACERCA DE   
	.acerca_de
		background: url("../img/acerca_de.png")
		background-size: cover
		height: 550px
		.textos
			height: 550px
	#iglesia
		font-family: 'Abel', sans-serif
		height: 270px
		display: flex
		align-items: center
		h3
			font-size: 2em
			text-align: center
		p
			padding-top: 25px 
			text-align: center
			font-size: 1em
	#pastores
		background: linear-gradient(90deg, #212121, #0D47A1)
		height: 470px
		.foto_apostol
		.info_de_pastores
			position: relative
			text-align: center
			h4
			p
				color: #fff  
				position: relative
	footer
		height: 150px
		background: black
		.logo
			// background: red
			height: 115px
			img
				width: 96px 
				height: 100px 
		.no-copy
			// background: green
			height: 35px
			h4
				font-size: 14px
		.info_iglesia
			// background: yellow
			font-size: 13px
			a 
				text-decoration: none
		
				// DISPOSITIVO MEDIO
@media screen and (min-width: 480px)
	#iglesia
		h3
			// margin-top: 10px
		p
			// margin-top: 20px 
	#pastores
		height: 400px

		.foto_apostol
			// background: red
			img
				width: 350px
				height: 230px


		.info_de_pastores

			
	footer
		background: orange



@media screen and (min-width: 767px)
	header
		position: relative
		.navbar
			img
				position: relative
				left: 70px
	footer
		height: 200px

	#iglesia
		height: 300px
		.slogan
			display: flex
			align-items: center
			height: 300px
			h3
				font-size: 3em
				margin-top: 0
		.texto 
			display: flex
			align-items: center
			p 
				font-size: 16px
				margin-top: 0
	#pastores
		.foto_apostol
			// background: orange
			img 
				width: 250px
				height: 250px


@media screen and (min-width: 1030px)

	#iglesia
		padding: 0 30px
		h3
			font-size: 5em
			margin-top: 0
		.texto 
			p
				font-size: 1.2em
	footer
		background: red

