body{
	margin-top: 100px;
}

@media screen and (min-width: 300px){
header .navbar a img{
	position: relative;
	left: -60px;
/*	width: 50px;
	height: 50px;*/
}
header a{
	margin-left: 45px;
	padding: 0px 20px;
}
header .collapse a:hover{
	background: #09709F;
}
header .navbar-toggler{
	background: #fff
}
header .dropbtn {
	/*color: #fff*/
} 
.min_ebe{
	/*margin-top: 56px;*/
	/*background: orange;*/
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.min_ebe h1{
	color: white;
	font-size: 1.3em;
	color: black;
}
.horarios{
	background: #DAD8D8;
	height: 370px;
}
.horarios .titulo_horario{
	/*background: #446633;*/
	margin-top: 20px;
}
.horarios .titulo_horario h5{
	font-size: 30px;
	font-weight: bold;
}
.horarios_texto{
	/*background: blue;*/
}
.ubicacion{
	/*top: 20px;*/
	height: 400px;
	/*background: orange;*/
}
.ubicacion h5{
	margin-top: 20px;
	font-size: 1.9em;
	padding: 7px 0px;
	background: linear-gradient(258.25deg,#00cbff 12%,#7300ff 83%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.eventos{
	height: 400px;
	background: linear-gradient(258.25deg,#00cbff 12%,#7300ff 83%);
}
.eventos img{
	height: 300px;
	/*width: 70%*/
}
.redes_soc{
	height: 200px;
	background: #f1f1f1;
}
.redes_soc .icon_redes{
	/*background: orange;*/
}
.trans{
	height: 400px;
	/*background: red;*/
}
.trans .texto h5{
	margin-top: 10px;
	font-size: 18px;
}
footer{
	height: 180px;
	background: black;
	position: relative
} 
footer .info_iglesia{
	// background: yellow
	position: relative;
	top: 29px;
	font-size: 13px;
	text-align: center;
}
footer	.NombreyLocalizacion{
	position: relative;
	top: 34px;
	height: 26px;
} 
footer .NombreyLocalizacion h4{
	font-size: 12px;
}
footer .dreserv{
	position: relative;
	top: 30px;
	font-size: 11px;
}
}
@media screen and (min-width: 480px){
	body{
		/*background: blue;*/
	}
	.trans{
		height: 500px;
	}
	.trans .image img{
		width: 450px;
		height: 450px;
	}
}



@media screen and (min-width: 767px){
	body{
		/*background: green;*/
	}
	.trans .image img{
		width: 700px;
	}
}


@media screen and (min-width: 1030px){
	body{
		/*background: yellow;*/
	}
}